<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h2 class="text-5xl font-bold my-5">About us</h2>
  <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, magni sed. Iusto ratione ex perspiciatis, fugit voluptas excepturi quidem aliquam, ad perferendis incidunt ut ipsum quasi corporis illo, vero nesciunt fuga quas consequatur ducimus et nihil optio recusandae ab? Aliquam dignissimos eaque corporis aliquid aut vitae molestias commodi animi provident, esse, in, neque repudiandae! Ullam non minus delectus velit nesciunt iusto enim, ratione iure commodi quidem explicabo quia, beatae sed. Aliquam dolor in numquam vitae repellendus asperiores sunt fugiat est.</p>
</section>