---
import astro from "../../images/astro.png";
---

<header class="flex flex-col md:flex-row bg-zinc-900 p-20 gap-3 text-center md:text-left rounded-xl">
  <div>
    <h1 class="md:text-5xl text-base font-bold pb-2">Hero</h1>
    <p class="my-4 md:text-2xl text-sm">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam nostrum
      iure iusto ea deserunt aliquam qui adipisci nam a obcaecati, quibusdam
      quas cumque ullam eveniet est. Soluta deleniti rem inventore quisquam
      tenetur maxime voluptatem. Totam facere rerum, harum labore doloremque
      quaerat minima eum atque provident quia ab architecto nihil praesentium!
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400"
      >Start now</button
    >
  </div>
  <img src={astro} alt="astro landing pnd picture" class="w-80" />
</header>
